.weather {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.weather__image i {
  font-size: max(128px, 8vw);
  line-height: 1.25em;
}

.weather__city {
  font-size: max(2rem, 4vw);
  text-align: center;
  font-weight: normal;
  margin: 1rem 0 0;
}

.weather__temperature {
  font-size: max(4rem, 6vw);
  text-align: center;
  font-weight: 500;
  margin: 0;
}

.weather__details {
  margin-top: auto;
}

.weather__details-title {
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

.weather__details-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.weather__details-disclaimer {
  margin-top: 2rem;
  font-size: 0.875rem;
  color: #070707;
}

@media (max-width: 768px) {
  .weather__details-list {
    justify-content: space-around;
  }
}
