.c-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: linear-gradient(180deg, oklab(86% -0.03741 -0.06153), oklab(67% -0.05451 -0.06076), oklab(62% -0.07606 -0.0613));
  border-radius: 16px;
  width: 130px;
}

.c-weather-card__label {
  font-size: 1.125rem;
}

.c-weather-card__icon {
  font-size: 2rem;
}

.c-weather-card__temperature {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
  text-align: center;
}
